<agent_config>
  <localfile>
    <location>C:\SOC-Lab\events\*.json</location>
    <log_format>json</log_format>
    <only-future-events>no</only-future-events>
  </localfile>
  <localfile>
    <location>Microsoft-Windows-Sysmon/Operational</location>
    <log_format>eventchannel</log_format>
    <only-future-events>yes</only-future-events>
  </localfile>
  <localfile>
    <location>Microsoft-Windows-PowerShell/Operational</location>
    <log_format>eventchannel</log_format>
    <only-future-events>yes</only-future-events>
  </localfile>
  <localfile>
    <location>Microsoft-Windows-TaskScheduler/Operational</location>
    <log_format>eventchannel</log_format>
    <only-future-events>yes</only-future-events>
  </localfile>
</agent_config>
